*{
margin:0px;
padding:0px;
box-sizing: border-box;
}
body{
background-color: black;
height:100vh;
overflow: hidden;

}
span{
/* display:inline-block; */
background: url("https://cdn2.iconfinder.com/data/icons/free-1/128/Love__heart_like-512.png");
height:100px;
width:100px;
background-size: cover;
position: absolute;
pointer-events: none;
left:50%;
top:50%;
animation: animateLogo 6s linear;
transform:translate(50%,50%);
}
@keyframes animateLogo
{
0%{
transform: translate(-50%,-50%);
opacity: 1;
filter: hue-rotate(720deg);
}
100%{
transform:translate(-50%,-5000%);
opacity:0;
color: yellow;
}

}
